@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Body */

body
{
  font-family: 'Open Sans', sans-serif;
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(224,223,214,1) 50%, rgba(255,255,255,1) 100%);
}


/* Header Nav */

.header 
{
  position: fixed;
  top:0;
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul
{
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a
{
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover, .header .menu-btn:hover
{
  background-color: #f4f4f4;
}

.header .logo {
  text-transform: uppercase;
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
  color : #000;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
  text-align: center;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon
{
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before, .header .menu-icon .navicon:after
{
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before
{
  top: 5px;
}

.header .menu-icon .navicon:after
{
  top: -5px;
}

/* menu btn */

.header .menu-btn
{
  display: none;
}

.header .menu-btn:checked ~ .menu
{
  max-height: 360px;
}

.header .menu-btn:checked ~ .menu-icon .navicon
{
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before
{
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* useful */

.wrapper
{
  text-align: center;
  width: 100%;
}

/* index.html */

section
{
  width: 75%;
  min-height: 100%;
  position: relative;
  top: 75px;
  margin-top: 4%;
  margin-right: auto;
  margin-left: auto;
}

section article
{
  margin-bottom: 10%;
  background: rgb(0,155,255);
  background: linear-gradient(90deg, rgba(0,155,255,1) 0%, rgba(0,74,255,1) 100%);
  border: thick;
  border-radius: 25px;
  box-shadow: 2px 2px 2px rgba(121,121,121,1);
  padding: 2%;
  font-weight: lighter;
  color: #fff;
  text-align: left;
}

section article p, section article a, section article h2
{
  background-color: inherit;
}

section article a
{
  color: #fff;
  text-decoration: none;
  font-style: oblique;
}

section article a:hover
{
    transition: 0.3s all;
    opacity: 0.8;
    text-decoration: underline;
}

section article h2
{
  text-align: left;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 2%;
}

section article p
{
  font-size: 15px;
  color: #EDEAEA;
}

iframe#iframeyt
{
  width:789px;
  height:444px ;
}

/* soutenir.html */

table, td, th
{
  border: 1px solid #000;
}

table {
  text-align: center;
  width: 100%;
  border-collapse: collapse;
}

td,th {
  padding: 10px;
  text-align: center;
  font-size: 17px;
}

tr#presentation td
{
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

/* Responsive Design */

@media screen and (max-width: 1080px)
{
  iframe#iframeyt
  {
      height: 200px;
      width: 225px;
  }

    section
    {
      margin-top: 10%;
      width: 85%;
    }

    section article h2
    {
      font-size: 15px;
    }

    td,th
    {
      font-size: 12px;
      padding: 1px;
      display: block;
    }
    button
    {
      font-size: 12px;
    }

    article#cc p
    {
      font-size: 10px;
    }
}

/* footer */

div#creator h4
{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 15px;
    text-align: center;
    font-weight: bolder;
    font-family: 'Open Sans', sans-serif;
}

div#creator
{
    border: 1px solid #fff;
    width: 25%;
    margin: 0.5% auto;
}

footer
{
    border-top: 1px solid #000;
    background: rgb(9,9,121);
    background: linear-gradient(90deg, rgba(9,9,121,1) 0%, rgba(0,151,255,1) 37%, rgba(2,0,36,1) 100%);
    text-align: center;
    color: #fff;
    font-size: 15px;
    width: 100%;
    position: absolute;
    margin-top: 10%;
}
footer a i
{
    text-align: center;
    font-size: 100px;
    margin: 2%;
}

footer a i#vitag
{
    color: #fff;
}

footer a i:hover
{
    transition: 0.3s all;
    opacity: 0.8;
}

@media screen and (max-width: 1080px)
{
    div#creator
    {
        width: 75%;
    }

    div#creator h4
    {
        font-size: 15px;
    }

    footer a i
    {
        font-size: 75px;
    }
}

/* end footer*/