@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* Suppression de l'image de marque de 000webhost */

*
{
    font-family: 'Montserrat', sans-serif;
    padding:0;
    background: #fff;

}

body
{
    height:100%;
    overflow-x: hidden;
    margin:0 auto;
}

div#choice
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    animation-duration: 2.5s;
    animation-name: mon_animation_boutons;
    width:100%;
    margin: 0 auto;
}


div#textpresent
{
    width:100%;
    animation-duration: 2s;
    animation-name: mon_animation_fond;
}

div#textpresent h1
{
    animation-duration: 2s;
    animation-name: mon_animation_texte;
    font-size: 80px;
    text-align: center;
    letter-spacing: 20px;
}

div#textpresent h1 a
{
    text-decoration: none;
    color:#000;
}

div#textpresent h1 a:hover
{
    transition: 0.5s all;
    color:white;
    background-color: black;
    border-radius: 40px;
    padding: 15px 30px;
    font-size: 60px;
    cursor: pointer;
}

a.btn
{
    text-align: center;
    position: relative;
    display: block;
    margin-right: 4%;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing:5px;
    color: #5a84a2;
    font-size: 30px;
    border-radius:40px;
    box-shadow:
            -2px -2px 8px rgba(255,255,255,1),
            -2px -2px 12px rgba(255,255,255,0.5),
            inset 2px 2px 4px rgba(255,255,255,0.1),
            2px 2px 8px rgba(0,0,0,0.15);
}

a.btn:active
{
    box-shadow:
            inset -2px -2px 8px rgba(255,255,255,1),
            inset -2px -2px 12px rgba(255,255,255,0.5),
            inset 2px 2px 4px rgba(255,255,255,0.1),
            inset 2px 2px 8px rgba(0,0,0,0.15);
}

@keyframes mon_animation_boutons
{
    from
    {
        margin-top: 100%;
    }

    to
    {
        margin-top: 0;
    }
}

@keyframes mon_animation_texte
{
    from
    {
        margin-left: 100%;
    }

    to
    {
        margin-left: 0;
    }
}

@keyframes mon_animation_fond
{
    from
    {
        margin-left: 100%;
    }

    to
    {
        margin-left: 0;
        background-color:black;
    }
}

span#yt
{
    color: #c4302b;
}

span#twt
{
    color: #1da1f2;
}

span#disd
{
    color: #7289da;
}

span#don
{
    color: #3c3c3d;
}

span#shop
{
    color:orange;
}

section
{
    width:70%;
    margin:0 auto;
    min-height: 100%;
    position: relative;
    padding-bottom: 10%;
}

section article
{
    width: 100%;
    background-color:gainsboro;
    border: thick;
    border-top: 4px solid rgba(0,0,0,1);
    border-bottom-left-radius: 2%;
    border-bottom-right-radius: 2%;
    box-shadow: 2px 2px 2px rgba(121,121,121,1);
    padding:1%;
    font-size:120%;
    font-weight: lighter;
}

section article h1, section article p, section article a, section article h2

{
    background-color: inherit;
}

section article a
{
    color: black;
    text-decoration: underline;
}

section article a:hover
{
    transition: 0.3s all;
    color: crimson;
}

section article h1
{
    text-align: center;
    font-size:40px;
}

footer
{
    background-color: #CACACA;
    position: absolute;
    border-top: 2px solid black;
    text-align:center;
    width:100%;
}

footer h3
{
    background-color: inherit;
    font-size: 100%;
    font-weight: normal;
}

div#shop_div
{
    text-align:center;
    padding-bottom: 5%;
}

div#shop_div h1
{
    color: firebrick;
}

div#dons
{
    padding-top: 10%;
    text-align: center;
}

span#don_web
{
    color: darkorange;
}

i#btc, i#eth
{
    padding-top: 1%;
    font-size:200px;
    padding-bottom: 10%;
    color: darkslategray;
}

i#btc:hover,i#eth:hover
{
    transition: 0.2s all;
    cursor: pointer;
}

i#btc:hover
{
    color: #f7931a;
}

i#eth:hover
{
    color: #3c3c3d;
}

div#ethereum
{
    margin-bottom:15%;
}

noscript
{
    font-size:100px;
    text-align: center;
    position: absolute;
    top:0;
    height: 100%;
    margin: 0 auto;
    background-color: cornflowerblue;
    width: 100%;
}

@media(max-width:1080px)
{
    div#choice
    {
        display: block;
        width: 80%;
        margin: 0 auto;
    }

    div#choice a.btn
    {
        margin-right: 0;
        margin-bottom: 10%;
    }

    section
    {
        width:80%;
    }

}